<%- include('../partials/header') -%>

<%- include('../partials/banner', { 
    imageUrl: '/assets/gallery-banner.jpg', 
    title: 'Gallery' 
}) -%>

<div class="wrapper wrapper--center">
    <section class="section">
        <img src="/assets/icon-gallery.png" class="icon" />
        <h1 class="section__title">Gallery of Our Work</h1>
        <p class="section__copy">View some of our latest work from the skies.</p>
    </section>
</div>

<%- include('../partials/footer') -%>