<%- include('../partials/header') -%>

<%- include('../partials/banner', { 
    imageUrl: '/assets/home-banner.jpg', 
    title: 'Aerial photography &amp; filming services' 
}) -%>

<section class="section">
    <div class="wrapper wrapper--center">
        <h1 class="section__title">Skyline Visions Limited</h1>
        <h2 class="section__sub">Aerial Photography and Drone Filming Services</h2>
        <p class="section__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit cursus, tempor mauris rutrum, placerat nisl. 
        In hac habitasse platea dictumst. Nam libero est, vulputate sit amet vestibulum vel, mollis vitae est. 
        Phasellus porttitor metus vel varius pellentesque. Sed sed elit rhoncus lacus porttitor gravida. 
        Donec venenatis viverra nulla nec aliquet. Donec tempus, purus et tincidunt consectetur, risus elit sagittis mauris, eu facilisis felis sem et leo. 
        Morbi at dictum enim, id molestie dui. Curabitur semper tempus nulla ac blandit. Mauris ac purus id nisl commodo dapibus. Praesent porta mi ut dui malesuada, quis accumsan arcu placerat.</p>
        <a href="/about.html" class="button">About Us</a>
    </div>
</section>

<section class="split">
    <header class="split__content section">
        <img src="/assets/icon-drone.png" class="icon" />
        <h1 class="section__title">Our Equipment</h1>
        <p class="section__copy">State of the art DJI Inspire Pro.</p>
    </header>
    <div class="split__media">
        <img src="/assets/drone.png" />
    </div>
</section>

<section class="split split--reverse">
    <header class="split__content section">
        <img src="/assets/icon-cert.png" class="icon" />
        <h1 class="section__title">Certified</h1>
        <p class="section__copy">CAA Certified &amp; Fully Insured</p>
    </header>
    <div class="split__media">
        <img src="/assets/caa-cert.png" />
    </div>
</section>

<%- include('../partials/footer') -%>