<div class="wrapper">
    <footer class="footer">
        <a href="/">
            <img src="/assets/skyline-visions.png" class="footer__logo" />
        </a>
        <ul class="footer__list">
            <li><a class="footer__link" href="tel: 07788584946">Tel: 07788584946</a></li>
            <li><a class="footer__link" href="mailto: scott@skylinevisions.co.uk">Email: scott@skylinevisions.co.uk</a></li>
        </ul>
        <div>
            <a href="https://www.instagram.com/skylinevisions/" target="_blank" class="social-icon">
                <img src="/assets/social-instagram.svg" class="social-icon__image" />
            </a>
        </div>
    </footer>
</div>

</body>
</html>